extends layout

block layout-content
  .content-home
    h1.intro Welcome to NBA Dream Team, where you can come and battle with your friends to see who can make the best NBA Dream Team.
    img.home-image(src="images/shadow.jpg" width="600")
